<!DOCTYPE html>
<html lang="en-us" ng-app="newsFeed">
<head>
    <title>News Feed</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <script src="//code.angularjs.org/1.6.6/angular.js"></script>
    <script src="//code.angularjs.org/1.6.6/angular-route.js"></script>
    <script src="//code.angularjs.org/1.6.6/angular-resource.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="news.css" />
</head>
<body>
  <!-- <header>
<nav class="navbar navbar-default">
<div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="/newsFeed/index.htm"> News Feed</a>
  </div>

    <ul class="nav navbar-nav navbar-right">
    <li><a href="#"><i class="fa fa-home"></i> Feed</a></li>
    <li><a href="http://www.nytimes.com"><i></i> NY Times</a></li>
  </ul>
</div>
</nav>
</header> -->
<div ng-controller="feedToggle">
<div class="nav-side-menu">
    <div class="brand"> feedMe</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">

                <li data-toggle="collapse" ng-click='newsToggle("kyivPostToggle")'>
                  <i class="fa fa-globe fa-lg"></i> KyivPost
                </li>

                <li  data-toggle="collapse" ng-click='newsToggle("nyTimesToggle")'>
                  <i class="fa fa-gift fa-lg"></i> New York Times
                </li>

            </ul>
     </div>
</div>

<div id='feedContainer' class='col-md-9'>

<kp-feed data='kArticle' ng-if='toggleSwitch === "kyivPostToggle"'></kp-feed>

<feed-component data='article' ng-if='toggleSwitch === "nyTimesToggle"'></feed-component>

</div>
</div>
</body>
</html>
